.header{
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 0;
    left: 0;
    justify-content: space-between;
    max-width: 100vw;
    padding: 10px;
    background-color: #015551;
    color: #FDFBEE;
       
}

.brandName{
    margin: auto 0px;
    font-size: 30px;
    margin-left: 5px;
    font-weight: 600;
}

.section ul{
    display: flex;
    justify-content: flex-end;
    flex-flow: row;
    margin: 0;
    padding: 10px;
    list-style: none;
}

.section ul li{
    margin: 5px;
}